// GENERAL --------------------------------
$backgroundColor: #edeff2;
$borderColor: #e0e1e3;
$buttonShadowColor: rgba(224, 225, 227, 0.5);
$whiteColor: #fff;
$blackColor: #000;
$orangeColor: #ff6633;
$paragraphColor: #7d8fb3;

// NAV ------------------------------------
$navLinkColor: #7d8fb3;
$h1Color: #4d5e80;
$navSearchColor: #adb8cc;
$placeholderColor: #adb8cc;
$usernameColor: #6b7a99;

// SIDEBAR LEFT ---------------------------
// SIDEBAR RIGHT --------------------------
// HEADER ---------------------------------
// MAIN -----------------------------------
// FOOTER ---------------------------------
